@page
@model E_Commerce.Pages.Cart.CartModel
@{
}

<h2>Welcome to your Cart</h2>

@if (Model.CartProducts != null)
{
    foreach (var product in Model.CartProducts)
    {
        @* <a asp-page="/accounts/the name of the page" asp-route-id="@person.Id" ></a>*@
        <tr>
            <td>
                <a asp-page="/ProductDetails/Details" asp-route-id="@product.ID">
                    @if (product.URL != "")
                    {
                        <img src="@product.URL" width=200 />
                    }

                    @product.ID @product.Name
                </a>
            </td>
        </tr>
    }
}