@page
@model E_Commerce.Pages.Cart.CartModel
@{
}

<h2 style="text-align: center">Welcome to your Cart</h2>

@if (Model.CartProducts != null)
{
    foreach (var product in Model.CartProducts)
    {
        @* <a asp-page="/accounts/the name of the page" asp-route-id="@person.Id" ></a>*@
        <table>

            <tr>
                <td>
                    <a asp-page="/ProductDetails/Details" asp-route-id="@product.ID">
                        @if (product.URL != "")
                        {
                            <img src="@product.URL" width=200 />
                        }

                        @product.ID @product.Name
                    </a>
                    <form method="post">
                        <button type="submit" asp-page="/Cart/Cart" asp-route-id="@product.ID">Remove From Cart</button>
                    </form>
                </td>
            </tr>
        </table>

    }
    <br>
    <br>

    <form method="get">
        <button type="submit" asp-page="/Cart/Reciept">Proceed to Checkout</button>
    </form>
}
