@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model E_Commerce.Pages.Products.ProductsModel

@{
}


<h2 style="text-align: center">@Model.CategoryName</h2>

@if (Model.Products != null)
{
    foreach (var product in Model.Products)
    {
        @* <a asp-page="/accounts/the name of the page" asp-route-id="@person.Id" ></a>*@
<table>

    <tr>
        <td>
            <a asp-page="/ProductDetails/Details" asp-route-id="@product.ID">
                @if (product.URL != "")
                {
                    <img src="@product.URL" width=200 />
                }

                @product.ID @product.Name
            </a>
        </td>
    </tr>
    </table>

        }
        }
